.topBar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 80px;
	width: 100vw;
	position: relative;
}

.topBar .logo {
	width: 60px;
}

.logOptions {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 50px;
	border-radius: 10px;
	background-color: #ffd6df;
}
.logOptions div {
	padding: 0.6em;
	height: max-content;
	cursor: pointer;
}
.icon{
	color: yellow;
}